WSAncertEnvioDiligencias/wsdl/WSAncertEnvioDiligencias.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://enviodiligencias.ancert.services.tributasenasturias.es/WSAncertEnvioDiligencias/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSAncertEnvioDiligencias" targetNamespace="http://enviodiligencias.ancert.services.tributasenasturias.es/WSAncertEnvioDiligencias/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://enviodiligencias.ancert.services.tributasenasturias.es/WSAncertEnvioDiligencias/">
      <xsd:element name="EnvioDiligenciasMessageIn" type="tns:EnvioDiligenciasMessageInType">
      </xsd:element>
      <xsd:element name="EnvioDiligenciasMessageOut">
      	<xsd:complexType>
      		<xsd:sequence>
                        <xsd:element name="peticion" type="tns:EnvioDiligenciasMessageInType"></xsd:element>
                        <xsd:element name="resultado"
      				type="tns:resultadoType">
      			</xsd:element>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>


      <xsd:complexType name="resultadoType">
      	<xsd:sequence>
      		<xsd:element name="codigo" type="xsd:string">
      			<xsd:annotation>
      				<xsd:documentation>
      					Código de resultado
      				</xsd:documentation>
      			</xsd:annotation></xsd:element>
      		<xsd:element name="descripcion" type="xsd:string">
      			<xsd:annotation>
      				<xsd:documentation>
      					Mensaje descriptivo que explica el código de
      					resultado.
      				</xsd:documentation>
      			</xsd:annotation></xsd:element>
      		<xsd:element name="esError" type="xsd:boolean">
      			<xsd:annotation>
      				<xsd:documentation>
      					Indica si se trata de un error (true/false).
      				</xsd:documentation>
      			</xsd:annotation></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType
            	name="EnvioDiligenciasMessageInType">
            	<xsd:sequence>
            		<xsd:element name="numeroAutoliquidacion"
            			type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                        	<xsd:documentation>
                        		Número de autoliquidación para la que se
                        		desea enviar diligencia.
                        	</xsd:documentation>
                        </xsd:annotation>
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="enviarDiligencias_fault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="enviarDiligencias_fault"
            				type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="enviarDiligenciasRequest">
    <wsdl:part element="tns:EnvioDiligenciasMessageIn"
    	name="parameters" >
    	<wsdl:documentation>Estructura de parámetros de entrada</wsdl:documentation></wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDiligenciasResponse">
    <wsdl:part element="tns:EnvioDiligenciasMessageOut"
    	name="parameters" >
    	<wsdl:documentation>Estructura de salida.</wsdl:documentation></wsdl:part>
  </wsdl:message>
  <wsdl:message name="enviarDiligencias_faultMsg">
  	<wsdl:part name="fault" element="tns:enviarDiligencias_fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSAncertEnvioDiligencias">
    <wsdl:operation name="enviarDiligencias">
      <wsdl:documentation>Operación de envío de diligencias. En base a los parámetros de entrada, enviará las diligencias a notarios. Actualizará si es necesario la tabla de documentos de internet con los documentos enviados</wsdl:documentation>
      <wsdl:input message="tns:enviarDiligenciasRequest"/>
      <wsdl:output message="tns:enviarDiligenciasResponse"/>
            <wsdl:fault name="fault" message="tns:enviarDiligencias_faultMsg"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSAncertEnvioDiligenciasSOAP" type="tns:WSAncertEnvioDiligencias">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enviarDiligencias">
      <soap:operation soapAction="http://ancert.services.tributasenasturias.es/WSAncertEnvioDiligencias/enviarDiligencias"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSAncertEnvioDiligencias">
    <wsdl:documentation>Servicio de envío de diligencia a notarios. Se enviarán las diligencias relaciondas con escrituras que hayan sido autorizadas para envío de diligencia.</wsdl:documentation>
    <wsdl:port binding="tns:WSAncertEnvioDiligenciasSOAP" name="WSAncertEnvioDiligenciasSOAP">
      <soap:address location="http://services.tributasenasturias.es"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
