WSIndicesFiscales/wsdl/IndicesFiscales.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tributasenasturias.es/servicios/IndicesFiscales/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IndicesFiscales" targetNamespace="http://www.tributasenasturias.es/servicios/IndicesFiscales/">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://www.tributasenasturias.es/servicios/IndicesFiscales/"
    	xmlns:reply="http://inti.notariado.org/XML">

    	<xsd:import namespace="http://inti.notariado.org/XML" schemaLocation="../xsd/indice_fiscal_reply.xsd"></xsd:import>
    	<xsd:element name="ProcessRequest">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="documento"
    					type="tns:INDFISCALType" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="ProcessRequestResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element
    					ref="reply:IND_FISCAL_REPLY" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>

    	<xsd:complexType name="INDFISCALType">
    		<xsd:sequence>
    			<xsd:element name="nombreFichero" type="xsd:string"
    				minOccurs="1" maxOccurs="1">
    			</xsd:element>
    			<xsd:element name="contenido" type="xsd:base64Binary"
    				minOccurs="1" maxOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRequestRequest">
    <wsdl:part element="tns:ProcessRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ProcessRequestResponse">
    <wsdl:part element="tns:ProcessRequestResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="IndicesFiscales">
    <wsdl:operation name="ProcessRequest">
      <wsdl:input message="tns:ProcessRequestRequest"/>
      <wsdl:output message="tns:ProcessRequestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndicesFiscalesSOAP" type="tns:IndicesFiscales">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://www.tributasenasturias.es/servicios/IndicesFiscales/ProcessRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndicesFiscales">
    <wsdl:port binding="tns:IndicesFiscalesSOAP" name="IndicesFiscalesSOAP">
      <soap:address location="http://bus:7101/WSANCERT/ProxyServices/PXIndicesFiscales"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
