WSConsultaPagoDeudasIBI/src/es/tributasenasturias/servicios/ibi/deuda/wsdl/deudas-soap-gateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:deudas="http://inti.notariado.org/XML/CD" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" name="SOAPGatewayService" targetNamespace="http://inti.notariado.org/XML/CD">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://inti.notariado.org/XML/CD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://inti.notariado.org/XML/CD">
		    <xsd:include  schemaLocation="./xsd/ConsultaDeudas.xsd"/>
			<xsd:include  schemaLocation="./xsd/PagoDeudas.xsd"/>
			<xsd:element name="MESSAGE_REQUEST">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="deudas:CONSULTA_DEUDAS"/>
						<xsd:element ref="deudas:PAGO_DEUDAS"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MESSAGE_RESPONSE">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="deudas:CONSULTA_DEUDAS"/>
						<xsd:element ref="deudas:PAGO_DEUDAS"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="processRequest">
		<wsdl:part element="deudas:MESSAGE_REQUEST" name="partRequest"/>
	</wsdl:message>
	<wsdl:message name="processResponse">
		<wsdl:part element="deudas:MESSAGE_RESPONSE" name="partResponse"/>
	</wsdl:message>
	<wsdl:portType name="SOAPGateway">
		<wsdl:operation name="process">
			<wsdl:input message="deudas:processRequest" name="processRequest"/>
			<wsdl:output message="deudas:processResponse" name="processResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAPGatewaySoapBinding" type="deudas:SOAPGateway">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="process">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="processRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="processResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SOAPGatewayService">
		<wsdl:port binding="deudas:SOAPGatewaySoapBinding" name="SOAPGateway">
			<wsdlsoap:address location="http://localhost/deudas/services/SOAPGateway"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>